<nav>

    <ul>
        <li><a href="{{ path('main') }}">Accueil</a></li>
        <li><a href="{{ path('posts') }}">posts</a></li>

        {% if app.user %}
        <li>{{ app.user.lastname }}</li> 
        <li><a href="{{ path('app_logout') }}">Deconnecter</a></li> 
          {% else %}
          <li><a href="{{ path('app_login') }}">Se connecter</a></li> 
          <li><a href="{{ path('app_register') }}">S'inscrire</a></li> 
        {% endif %}
       
    </ul>

</nav>